module InitialConfig where

import Config

initialConfig = BotConfig { bot_nickname    = "RaBot"
                          , bot_server      = "asimov.freenode.net"
                          , bot_port        = "6667"
                          , bot_chans       = ["RaBotsChannel"]
                          , bot_commandDir  = "Commands.hs"
                          , bot_logDir      = "logs/"
                          , bot_scriptDir   = "scripts/"
                          , bot_ownerNick   = "foo"
                          , bot_ownerUser   = "bar"
                          , bot_Char        = ">>="
                          }


